.yt-enhanced-info-item {
    font-weight: normal !important;
    font-size: normal !important;
    line-height: normal !important;
    padding: normal !important;
    margin: normal !important;
    display: inline-flex !important;
    align-items: center !important;
    vertical-align: middle !important;
}